<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TPMS Catch a Tail</title>
    <link rel="stylesheet" href="../static/main.css">
    <script src="{{url_for('static', filename='../static/main.js')}}"></script>
</head>
<header>
    <div id="title">TPMS Catch a Tail</div>
    <div id="gps-container">
        <span>GPS Status:</span>
        <span id="gps-dot"></span>
        <span>Lat: 0 Lon: 0</span>
</header>
<body>
    <div id="control-panel">
        <h2>Control Panel</h2>
        <div id="control-buttons-container">
            <div id="start-button" class="button-container">
                <button class="control-button" id="start" onclick="populateTable()">Start</button>
            </div>
            <div id="stop-button" class="button-container">
                <button class="control-button" id="stop">Stop</button>
            </div>
            <div id="add-ignore" class="button-container">
                <button class="control-button" id="ignore">Add to Ignore List</button>
            </div>
            <div id="add-target" class="button-container">
                <button class="control-button" id="target">Add to Target List</button>
            </div>
        </div>
    </div>

    <div id="data-panel">
        <table id="data-table">
            <thead>
                <tr>
                    <th class="data-table-header">ID</th>
                    <th class="data-table-header">Model</th>
                    <!-- <th class="data-table-header">Times</th>
                    <th class="data-table-header">Location</th>
                    <th class="data-table-header">RSSI</th> -->
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</body>
</html>